@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4">About Me</h1>

        <div class="card">
            <div class="card-body">
                <p class="lead">
                    I'm a passionate developer building web applications with ASP.NET Core.
                </p>

                <h5>My journey</h5>
                <p>
                    I started coding 3 years ago and fell in love with craeting things that live on the internet. I specialize in building robust, scalable web applications using Microsoft technologies.
                </p>

                <h5>What I Do</h5>
                <ul>
                    <li>Full-stack web development with ASP.Net Core</li>
                    <li>Database design and optimization</li>
                    <li>API development and intergration</li>
                    <li>Cloud deployment (Azure/AWS)</li>
                </ul>

                <h5>lets Connect!</h5>
                <p>
                    I'm always open to discussing new projects, creative ideas, or opportunities to be part of your vision.
                </p>
            </div>
        </div>
    </div>
</div>